@charset "utf-8";

// Load variables from JSON. By default it should contain a TailwindCss
// "extend" config so that the variables can be used for configuring
// both Bulma and Tailwind. Note that the scheme here is needed because 
// otherwise Vite breaks, probably due to some errors in the legacy dart-sass API.
@import "json:variables";

// Text
$family-sans-serif: $variables-font-family-sans;
$family-serif: $variables-font-family-serif;
$family-primary: $family-sans-serif;
$family-secondary: $family-serif;

// Color theme
$primary: $variables-colors-primary;

// Border
$radius-small: $variables-border-radius-sm;
$radius: $variables-border-radius-default;
$radius-large: $variables-border-radius-md;

$navbar-padding-vertical: 0.7rem;
$navbar-padding-horizontal: 2rem;
$box-padding: 1.5rem;
$footer-padding: 2rem 1.5rem 4rem;

// Currently use legacy import since bulma doesn't support new modular system
// In the future replace with "use ... with ()"
@import "~bulma/sass/utilities/all";